resource_group_name                 = "test"
storage_account_location               = "eastus"
credentials = {
    azure_subscription_id           = " "
    azure_subscription_tenant_id    = " "
    service_principal_id            = " "
    service_principal_password      = " "
}